# Database Configuration
DATABASE_NAME=""
DATABASE_HOST=""
DATABASE_USER=""
DATABASE_PASS=""

# SMTP Gmail API
SMTP_USER=""
SMTP_PASS=""
CLIENT_ID=""
CLIENT_SECRET=""
REFRESH_TOKEN=""

# Google reCAPTCHA
CAPTCHA_SITE_KEY=""
CAPTCHA_SECRET_KEY=""