@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* function root */
:root {
  --main-color: #6495ed;
  --secondary-color: #228b22;
  --background: #f2f2f2;
}

/* universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: var(--background);
  width: 100%;
  overflow-x: hidden;
}

/* custom warna sesuai pallet */
.bg-hijau {
  background-color: var(--secondary-color);
}

.bg-biru {
  background-color: var(--main-color);
}

/* bagian atas */
.title-profile {
  font-family: "Quantico";
  font-size: 25px;
  font-style: italic;
}

.img-logo-profile {
  width: 15%;
}

.logout {
  font-size: 12px;
}

/* bagian qr */
.img-qr {
  width: 65%;
  margin-top: -20px;
  margin-bottom: -18px;
}

/* bagian data keluarga */
.card {
  width: 100%;
}

/* bagian total */
.div-total {
  width: 100%;
}

/* responsive tablet dan laptop */
@media (min-width: 768px) {
  /* Tablet dan layar lebih besar */

  /* bagian atas */
  .title-profile {
    font-family: "Quantico";
    font-size: 55px;
    font-style: italic;
  }

  .img-logo-profile {
    width: 5%;
  }

  .logout {
    font-size: 15px;
  }

  /* bagian qr */
  .img-qr {
    width: 30%;
    margin-bottom: -20px;
  }

  /* bagian data keluarga */
  .card {
    width: 49.5%;
  }

  /* bagian total */
  .div-total {
    width: 50%;
  }
}

/* Datatables */
.dt-buttons {
  border: none;
  display: flex;
  
}

.dt-buttons .btn-secondary  {
  background-color: var(--primary) !important;
  border: none;
  box-shadow: none;
  outline: 1px solid var(--primary) !important;
  margin-inline: 0 !important;
  box-shadow: none;
}

.dt-buttons .btn-secondary:hover {
  background-color: transparent !important;
  color: var(--primary) !important;
}

:where(.dt-length, .dt-search) label {
  display: none;
}

.dt-length select, .dt-search input {
  margin: 0 !important;
  padding-block: 8px !important;
  font-size: 16px;
}

.dt-length, .dt-search, .dt-buttons {
  margin-bottom: 16px;
}

.dt-length, .dt-search {
  display: inline-block;
  vertical-align: middle;
}

.dt-length{
  float: left;
}

.dt-search {
  float: right;
}

.dt-search input {
  background-color: transparent !important;
  border-radius: 8px;
  color: var(--seconddark) !important;
  border: 1px solid var(--grey) !important;
}

.dt-search input::placeholder {
  content: "Search...";
  color: var(--dark);
}

.dt-length select {
  background-color: transparent;
  color: var(--seconddark);
  box-shadow: none !important;
  outline: 1px solid var(--grey) !important;
  border: none;
  border-radius: 8px;
}

.dt-length select option {
  background-color: var(--lightgrey);
  color: var(--dark);
  border-radius: 0 !important;
}

.dt-length select option:hover::after {
  background: var(--primary) !important;
  color: var(--dark) !important;
}

.table td {
  background-color: transparent !important;
  color: var(--dark) !important;
  border-block: 1px solid var(--secondlightgrey)
}

.table tbody tr:hover {
  background-color: var(--lightgrey) !important;
  color: var(--dark) !important;
}
 
.table th {
  background-color: transparent !important;
  color: var(--dark);
  border-block: 2px solid var(--primary);
  padding-block: 20px;
  vertical-align: middle;
}

.table th:hover {
  background-color: var(--primary) !important;
}

.dt-paging nav {
  border-radius: 8px;
  margin-top: 16px;
}

.dt-paging nav .page-link {
  background-color: var(--primary);
  color: var(--dark);
  border: none;
  padding-block: 8px;
  outline: 1px solid var(--primary) !important;
  box-shadow: none;
  z-index: 0;
}

.dt-paging nav .page-link:not(.previous, .next, .first, .last) {
  background-color: transparent;
  margin: 0;
}

.dt-paging nav .page-link:hover {
  background-color: var(--primary);
  outline: 1px solid var(--primary) !important;
}

.dt-paging nav .active .page-link {
  background-color: var(--primary) !important;
  outline: 2px solid var(--dark);
  color: white;
}

.dt-paging nav .disabled .page-link {
  color: rgb(87, 87, 87) !important;
}

.dropdown-menu {
  background-color: var(--secondlightgrey) !important;
}

.dropdown-menu .dropdown-item {
  color: var(--primary) !important;
  background-color: var(--secondlightgrey) !important;
}

.dropdown-menu .dropdown-item:active {
  color: var(--seconddark) !important;
  background-color: var(--primary) !important;
}

.dt-button-info {
  background-color: transparent !important;
  border: 1px solid var(--grey);
  backdrop-filter: blur(10px) saturate(120%) brightness(95%);
  color: var(--dark);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3) !important;
}